.about .image-about {
    max-width: 40%;
    padding: 0 15px;
    visibility: hidden;
}

.about .image-about .img-box { 
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.about .image-about img {
    border: 10px solid transparent;
    border-radius: 5px;
}

.about .informations-about {
    max-width: 50%;
    padding: 0 25px;
}

.about .informations-about .btn {
    margin-top: 50px;
    border-radius: 10px;
    margin: 0 auto;
}

.glow-on-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    border: none;
    outline: none;
    color: var(--secondary-color);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, var(--secondary-color), var(--light-gray-background-color),var(--secondary-color), var(--light-gray-background-color), var(--secondary-color), var(--light-gray-background-color), var(--secondary-color), var(--light-gray-background-color), var(--secondary-color));
    position: absolute;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(84, 10, 91)
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #aa1def;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.about .informations-about p {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

