@keyframes c-glowing-html {
    0% {
      box-shadow: 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color),
        0 0 5px #e53a2d, 0 0 5px #e53a2d, 0 0 5px #e53a2d, 0 0 5px #e53a2d,
        0 0 10px #e53a2d, 0 0 10px #e53a2d;
    }
    to {
      box-shadow: 0 0 2.5px var(--secondary-color), 0 0 2.5px,
        0 0 7.5px var(--secondary-color), 0 0 10px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 5px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 2px var(--secondary-color);
    }
  }
  
  @keyframes c-glowing-css {
    0% {
      box-shadow: 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color),
        0 0 5px #3492cb, 0 0 5px #3492cb, 0 0 5px #3492cb, 0 0 5px #3492cb,
        0 0 10px #3492cb, 0 0 10px #3492cb;
    }
    to {
      box-shadow: 0 0 2.5px var(--secondary-color), 0 0 2.5px,
        0 0 7.5px var(--secondary-color), 0 0 10px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 5px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 2px var(--secondary-color);
    }
  }
  
  @keyframes c-glowing-javascript {
    0% {
      box-shadow: 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color),
        0 0 5px #3178C6, 0 0 5px #3178C6, 0 0 5px #3178C6, 0 0 5px #3178C6,
        0 0 10px #3178C6, 0 0 10px #3178C6;
    }
    to {
      box-shadow: 0 0 2.5px var(--secondary-color), 0 0 2.5px,
        0 0 7.5px var(--secondary-color), 0 0 10px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 5px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 2px var(--secondary-color);
    }
  }
  
  @keyframes c-glowing-github {
   0% {
      box-shadow: 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color),
        0 0 5px #f0f6fc, 0 0 5px #f0f6fc, 0 0 5px #f0f6fc, 0 0 5px #f0f6fc,
        0 0 10px #f0f6fc, 0 0 10px #f0f6fc;
    }
    to {
      box-shadow: 0 0 2.5px var(--secondary-color), 0 0 2.5px,
        0 0 7.5px var(--secondary-color), 0 0 10px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 5px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 2px var(--secondary-color);
    }
  }
  
  @keyframes c-glowing-react {
    0% {
      box-shadow: 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color),
        0 0 5px #5ccfee, 0 0 5px #5ccfee, 0 0 5px #5ccfee, 0 0 5px #5ccfee,
        0 0 10px #5ccfee, 0 0 10px #5ccfee;
    }
    to {
      box-shadow: 0 0 2.5px var(--secondary-color), 0 0 2.5px,
        0 0 7.5px var(--secondary-color), 0 0 10px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 5px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 2px var(--secondary-color);
    }
  }

  @keyframes c-glowing-typescript {
    0% {
      box-shadow: 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color),
        0 0 5px #3178C6, 0 0 5px #3178C6, 0 0 5px #3178C6, 0 0 5px #3178C6,
        0 0 10px #3178C6, 0 0 10px #3178C6;
    }
    to {
      box-shadow: 0 0 2.5px var(--secondary-color), 0 0 2.5px,
        0 0 7.5px var(--secondary-color), 0 0 10px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 5px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 2px var(--secondary-color);
    }
  }

  @keyframes c-glowing-nextjs {
    0% {
      box-shadow: 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color),
        0 0 5px #FFFFFF, 0 0 5px #FFFFFF, 0 0 5px #FFFFFF, 0 0 5px #FFFFFF,
        0 0 10px #FFFFFF, 0 0 10px #FFFFFF;
    }
    to {
      box-shadow: 0 0 2.5px var(--secondary-color), 0 0 2.5px,
        0 0 7.5px var(--secondary-color), 0 0 10px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 5px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 2px var(--secondary-color);
    }
  }

  @keyframes c-glowing-postgresql {
    0% {
      box-shadow: 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color),
        0 0 5px #336791, 0 0 5px #336791, 0 0 5px #336791, 0 0 5px #336791,
        0 0 10px #336791, 0 0 10px #336791;
    }
    to {
      box-shadow: 0 0 2.5px var(--secondary-color), 0 0 2.5px,
        0 0 7.5px var(--secondary-color), 0 0 10px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 5px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 2px var(--secondary-color);
    }
  }

  @keyframes c-glowing-nodejs {
    0% {
      box-shadow: 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color),
        0 0 5px #8CC84B, 0 0 5px #8CC84B, 0 0 5px #8CC84B, 0 0 5px #8CC84B,
        0 0 10px #8CC84B, 0 0 10px #8CC84B;
    }
    to {
      box-shadow: 0 0 2.5px var(--secondary-color), 0 0 2.5px,
        0 0 7.5px var(--secondary-color), 0 0 10px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 5px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 2px var(--secondary-color);
    }
  }
  
  @keyframes c-glowing-sass {
    0% {
      box-shadow: 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color),
        0 0 5px #bf4080, 0 0 5px #bf4080, 0 0 5px #bf4080, 0 0 5px #bf4080,
        0 0 10px #bf4080, 0 0 10px #bf4080;
    }
    to {
      box-shadow: 0 0 2.5px var(--secondary-color), 0 0 2.5px,
        0 0 7.5px var(--secondary-color), 0 0 10px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 5px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 2px var(--secondary-color);
    }
  }
  @keyframes c-glowing-git {
    0% {
      box-shadow: 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color),
        0 0 5px #e53a2d, 0 0 5px #e53a2d, 0 0 5px #e53a2d, 0 0 5px #e53a2d,
        0 0 10px #e53a2d, 0 0 10px #e53a2d;
    }
    to {
      box-shadow: 0 0 2.5px var(--secondary-color), 0 0 2.5px,
        0 0 7.5px var(--secondary-color), 0 0 10px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 5px var(--secondary-color),
        0 0 5px var(--secondary-color), 0 0 2px var(--secondary-color);
    }
  }