.header {
  padding: 30px 15px;
}

.header .logo {
  color: var(--white-color);
  font-family: var(--secondary-letter);
  font-size: var(--extra-large-font);
  border: 2px solid var(--white-color);
  border-radius: 50%;
  width: 65px;
  height: 65px;
  line-height: 59px;
  text-align: center;
  text-decoration: underline;
  transition: 0.2s;
}

.header a:hover .logo {
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.header nav ul {
  display: flex;
  gap: 10px;
}

.header nav li a {
  color: var(--white-color);
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 50px;
  letter-spacing: 1px;
  user-select: none;
  transition: all 0.5s ease-in;
}

.header nav ul li a:hover {
  box-shadow: inset 190px 0 0 0 var(--secondary-color);
  color: white;
  border-radius: 5px;
}

/* Oculta o checkbox */
#menu-hamburguer {
  display: none;
}

/* Ícone do menu */
.menu {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 25px;
  position: relative;
}

.hamburguer,
.hamburguer::before,
.hamburguer::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.hamburguer {
  top: 50%;
  transform: translateY(-50%);
}

.hamburguer::before {
  top: -10px;
}

.hamburguer::after {
  top: 10px;
}

/* Animação ao clicar */
#menu-hamburguer:checked + label .hamburguer {
  background-color: transparent;
}

#menu-hamburguer:checked + label .hamburguer::before {
  transform: rotate(45deg);
  top: 0;
}

#menu-hamburguer:checked + label .hamburguer::after {
  transform: rotate(-45deg);
  top: 0;
}
