.header {
  padding: 30px 15px;
}

.header .logo {
  color: var(--white-color);
  font-family: var(--secondary-letter);
  font-size: var(--extra-large-font);
  border: 2px solid var(--white-color);
  border-radius: 50%;
  width: 65px;
  height: 65px;
  line-height: 59px;
  text-align: center;
  text-decoration: underline;
  transition: 0.2s;
}

.header a:hover .logo {
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.header nav ul {
  display: flex;
}

.header nav li a {
  color: var(--white-color);
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 50px;
  letter-spacing: 1px;
  user-select: none;
  transition: all 0.5s ease-in;
}

.header nav ul li a:hover {
  box-shadow: inset 190px 0 0 0 var(--secondary-color);
  color: white;
  border-radius: 5px;
}

/* ESCONDENDO O CHECKBOX */
#menu-hamburguer {
  display: none;
}

/* ÍCONE HAMBURGUER BASE (3 LINHAS) */
.header label {
  display: none; /* só aparece no mobile no responsive.css */
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  width: 60px;
}

.header .menu {
  display: none; /* só aparece no mobile */
  width: 30px;
  height: 24px;
  position: relative;
}

/* Linhas do hambúrguer */
.header .menu .hamburguer {
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  position: relative;
  transition: 0.3s ease-in-out;
}

.header .menu .hamburguer::before,
.header .menu .hamburguer::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  left: 0;
  transition: 0.3s ease-in-out;
}

.header .menu .hamburguer::before {
  top: -8px;
}

.header .menu .hamburguer::after {
  top: 8px;
}

/* Animação de transformação em X */
#menu-hamburguer:checked + label .hamburguer {
  background-color: transparent;
}

#menu-hamburguer:checked + label .hamburguer::before {
  transform: rotate(45deg);
  top: 0;
}

#menu-hamburguer:checked + label .hamburguer::after {
  transform: rotate(-45deg);
  top: 0;
}
