@media (max-width: 2560px) {
  .home .img-home .img-box img {
    height: 100%;
  }
}

@media screen and (max-width: 1458px) {
  .projects .container-projects {
    padding: 0 var(--mobile-padding);
  }
  .cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1280px) {
  .home .text-home,
  .home .img-home {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding: var(--mobile-padding);
  }
  .header {
    padding: var(--mobile-padding);
  }

  .social-media {
    justify-content: center;
  }

}

@media (max-width: 980px) {
  .about .row {
    justify-content: center;
  }

  .about .image-about {
    max-width: 100%;
    padding: 0 var(--mobile-padding);
    margin-bottom: 50px;
  }

  .about .informations-about {
    padding: 0 var(--mobile-padding);
    text-align: center;
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .header .menu {
    display: flex;
  }

  .header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: var(--dark-background-color);
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    z-index: 1000;
    margin-top: 20px;
  }

  .header nav ul.open {
    display: flex;
  }

  .header nav ul li a {
    padding: 15px 10px;
    font-size: 1.8rem;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s ease;
  }

  .header nav ul li {
    margin-bottom: 8px;
  }

  .cards-wrapper {
    grid-template-columns: 1fr;
  }

  .info {
    justify-content: center;
  }

  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }

  .card {
    max-width: calc(100vw - 4rem);
  }

  .social-media {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 413px) {
  .home .text-home {
    padding: 15px;
  }

  .footer .container {
    margin-bottom: 50px;
  }

  .social-media {
    display: flex;
    gap: 5px;
    margin: 0 auto;
  }

  .info {
    display: block;
    text-align: center;
  }

  .info h1 {
    margin: 0;
  }
}

@media (max-width: 363px) {
  .social-media {
    flex: 0 0 100%;
    margin-left: 8px;
  }
}
